body{
    margin:0;
    border:0;
}
h1 {
    font-family:'courier';
    text-align:center;
}
.calc{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    border: 2px solid #ccc;
}
table{
    padding:30px;
    width:250px;
    height:400px;
    background-color:black;
    color:white;
    text-align: center;
    border-top:2px solid #ccc;
}
td{
    padding:30px;
    border:1px solid white;
}
td:hover{
    cursor: pointer;
}
.solutionArea{
    background-color:black;
    color:white;
    padding:10px;
}
.input{
    font-size:24px;
}
.output{
    font-size:32px;
    text-align:right;
}
.dark-theme{
    background-color:black;
    color:white;
}
